NEXT_PUBLIC_SUPABASE_URL=https://khghiyvahojawixjmlsv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtoZ2hpeXZhaG9qYXdpeGptbHN2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgxODAwMjIsImV4cCI6MjA5Mzc1NjAyMn0.0Kmq-WhSWSGx_IjX3wjWW5rhfxYBx87d-zANNNJWzbA
